<a href="https://colab.research.google.com/github/ebrabena/DSA-58010/blob/main/Array_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creating an array of number elements

In [1]:
num = [1,2,3] #3x3 matrix
print(num)

[1, 2, 3]

Looping

In [2]:
animals = ["dog","cat","fish"] #3x3 matrix
for x in animals:
    print(x)

dog
cat
fish

Looping breaking

In [3]:
animals = ["dog","cat","fish"] #3x3 matrix
for x in animals:
  print(x)
  if x == "cat":
    break

dog
cat

In [4]:
animals = ["dog","cat","fish"]
x=animals [2]
y=animals [1]
print(x)
print(y)

fish
cat

Modifying

In [5]:
animals = ["dog","cat","fish"]
animals[0] = "bird"
print (animals)

['bird', 'cat', 'fish']

Inserting array elements

In [6]:
animals = ["dog","cat","fish"]
animals.append("monkey")
print (animals)

['dog', 'cat', 'fish', 'monkey']

Removing

In [7]:
animals = ["dog","cat","fish"]
animals.pop(2)
animals.pop(1)
print(animals)

['dog']

Length of the array

In [8]:
animals = ["dog","cat","fish"]
x=len(animals)
print(animals)

['dog', 'cat', 'fish']

In [9]:
import numpy as np
num = np.array([[1,2],[3,4]])   
print (num)

[[1 2]
 [3 4]]